@import "tailwindcss";

@theme {
  --animate-scale-up: scale-up 0.5s ease-out;
  --animate-fade-in: fade-in 0.5s ease-out;

  @keyframes scale-up {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
